<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacebetween.linket.mapper.AuthMapper">
    <!-- 회원가입 -->
    <insert id="signup" parameterType="UserJoinDto">
        insert into user (email, password, user_name, birthdate, agreement, phone, gender, role, account, reg_date, withdraw_date,
                                 enabled, last_updated_date, user_company_id)
        values (#{email},#{password},#{userName},#{birthdate},#{agreement},#{phone},#{gender},#{role},#{account},now(),#{withdrawDate},
                #{enabled}, #{lastUpdatedDate}, #{userCompanyId})
    </insert>


    <!-- 로그인 -->
    <select id="login" parameterType="hashmap" resultType="CamelHashMap">
        SELECT
            email, password, user_name, birthdate, agreement, phone, gender, role, account,
            DATE_FORMAT(withdraw_date, '%Y-%m-%d-%H-%i') AS withdraw_date,
            enabled,
            user_company_id,
            DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i') AS reg_date,
            DATE_FORMAT(last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date
        FROM user
        WHERE email=#{email} AND password=#{password}
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="checkEmail" parameterType="string" resultType="UserJoinDto">
        SELECT
            email
        FROM user
        WHERE email=#{email}
    </select>

    <!-- 사용자 회원 탈퇴 -->
    <update id="updateUser" parameterType="string">
        UPDATE user
        SET enabled='N', withdraw_date=now()
        WHERE email=#{VALUES}
    </update>
</mapper>
