<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacebetween.linket.mapper.EventMapper">

    <resultMap type="EventJoinDto" id="eventMap">
        <result property="eventId" column="event_id"/>
        <result property="companyId" column="event_company_id"/>
        <result property="eventName" column="event_name"/>
        <result property="eventType" column="event_type"/>
        <result property="place" column="place"/>
        <result property="eventImage" column="event_image"/>
        <result property="eventInq" column="event_inq"/>
        <result property="eventDesc" column="event_desc"/>
        <result property="eventStatus" column="event_status"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="regDate" column="reg_date"/>
        <result property="lastUpdatedDate" column="last_updated_date"/>
        <result property="deletedDate" column="deleted_date"/>
        <result property="link" column="link"/>
    </resultMap>

    <resultMap type="HireJoinDto" id="hireMap">
        <result property="hireId" column="hire_id"/>
        <result property="eventId" column="hire_event_id"/>
        <result property="companyId" column="hire_company_id"/>
        <result property="workName" column="work_name"/>
        <result property="workHour" column="work_hour"/>
        <result property="workStartDay" column="work_start_day"/>
        <result property="workEndDay" column="work_end_day"/>
        <result property="pay" column="pay"/>
        <result property="edu" column="edu"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>


    <!-- Staff가 행사 등록 -->
    <insert id="registerEvent" parameterType="EventJoinDto">
        insert into linket.Event(event_company_id, event_name, event_type, start_date, end_date, place, event_inq,
                                 event_image, event_desc, reg_date, link)
        values (#{companyId}, #{eventName}, #{eventType}, #{startDate}, #{endDate}, #{place}, #{eventInq},
                #{eventImage}, #{eventDesc}, DEFAULT, #{link})
    </insert>

    <!-- Staff가 행사 수정 -->
    <update id="updateEvent" parameterType="EventJoinDto">
        update event
        set event_name        = #{eventName},
            event_type        = #{eventType},
            place             = #{place},
            event_image       = #{eventImage},
            event_inq         = #{eventInq},
            event_desc        = #{eventDesc},
            start_date        = #{startDate},
            end_date          = #{endDate},
            last_updated_date = DEFAULT,
            link              = #{link}

        where event_id = #{eventId}
          and event_status = 'Y'
    </update>

    <!-- Staff가 행사 삭제 -->
    <update id="deleteEvent" parameterType="EventJoinDto">
        update event
        set event_status      = 'N',
            last_updated_date = DEFAULT,
            deleted_date      = DEFAULT

        where event_id = #{eventId}
          and event_status = 'Y'
    </update>

    <!-- Staff가  등록한 모든 행사 조회 -->
    <select id="getAllEvents" parameterType="long" resultType="CamelHashMap">
        select event_id,
               event_company_id,
               event_name,
               event_type,
               place,
               event_image,
               event_inq,
               event_desc,
               event_status,
               start_date,
               end_date,
               DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i')          AS reg_date,
               DATE_FORMAT(last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date,
               DATE_FORMAT(deleted_date, '%Y-%m-%d-%H-%i')      AS deleted_date,
               link
        from event
        where event_company_id = #{eventCompanyId}
        order by reg_date desc
    </select>

    <!-- Staff가  등록한 행사 상세 조회 -->
    <select id="getEvent" parameterType="long" resultType="CamelHashMap">
        select event_id,
               event_company_id,
               event_name,
               event_type,
               place,
               event_image,
               event_inq,
               event_desc,
               event_status,
               start_date,
               end_date,
               DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i')          AS reg_date,
               DATE_FORMAT(last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date,
               DATE_FORMAT(deleted_date, '%Y-%m-%d-%H-%i')      AS deleted_date,
               link
        from event
        where event_id = #{eventId}
          and event_status = 'Y'
    </select>


    <!-- 공고 -->
    <!-- Staff가 공고 등록 -->
    <insert id="registerHire" parameterType="HireJoinDto">
        insert into Linket.hire(hire_event_id, hire_company_id, work_name, work_hour, work_start_day,
                                work_end_day, pay, edu, reg_date)
        values (#{eventId}, #{companyId}, #{workName}, #{workHour}, #{workStartDay}, #{workEndDay}, #{pay},
                #{edu}, DEFAULT)
    </insert>

    <!-- Staff가 등록한 공고 전체 조회 -->
    <select id="getAllHires" parameterType="long" resultType="CamelHashMap">
        select hire_id,
               hire_event_id,
               hire_company_id,
               work_name,
               work_hour,
               DATE_FORMAT(work_start_day, '%Y-%m-%d-%H-%i') AS work_start_day,
               DATE_FORMAT(work_end_day, '%Y-%m-%d-%H-%i')   AS work_end_day,
               pay,
               edu,
               DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i')       AS reg_date
        from hire
        where hire_event_id = #{VALUES}
        order by reg_date desc
    </select>

    <!-- Staff가 공고 상세 조회 DATE_FORMAT(d.reg_date, '%Y-%m-%d-%H-%i') AS reg_date-->
    <select id="getHire" parameterType="long" resultType="CamelHashMap">
        select d.hire_id,
               d.hire_event_id,
               d.hire_company_id,
               d.work_name,
               d.work_hour,
               DATE_FORMAT(d.work_start_day, '%Y-%m-%d-%H-%i')    AS work_start_day,
               DATE_FORMAT(d.work_end_day, '%Y-%m-%d-%H-%i')      AS work_end_day,
               d.pay,
               d.edu,
               DATE_FORMAT(d.reg_date, '%Y-%m-%d-%H-%i')          AS reg_date,
               e.event_id,
               e.event_company_id,
               e.event_name,
               e.event_type,
               e.place,
               e.event_image,
               e.event_inq,
               e.event_desc,
               e.event_status,
               e.start_date,
               e.end_date,
               DATE_FORMAT(e.reg_date, '%Y-%m-%d-%H-%i')          AS reg_date,
               DATE_FORMAT(e.last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date,
               DATE_FORMAT(e.deleted_date, '%Y-%m-%d-%H-%i')      AS deleted_date,
               e.link

        from hire d
                 Right Outer Join event e on d.hire_event_id = e.event_id
        where hire_id = #{hire_id}
    </select>

    <!-- Staff가 공고 선택 삭제 -->
    <delete id="deleteHire" parameterType="long">
        delete
        from hire
        where hire_id = #{VALUES}
    </delete>


    <!-- Staff가 등록한 종료된 행사 중 선택한 행사의 상세 정보를 조회합니다.
    (행사명, 등록일자, 행사기간, 행사장소, 파트타이머 수, 총 인건비) -->
    <select id="selectUsers" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM user
                 LEFT JOIN event
                           ON user.user_company_id = event.event_company_id
        WHERE event_id = #{VALUES}
    </select>

    <select id="selCloseEvent" parameterType="long" resultType="CamelHashMap">
        SELECT event_id,
               event_company_id,
               event_name,
               event_type,
               place,
               event_image,
               event_inq,
               event_desc,
               event_status,
               start_date,
               end_date,
               DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i'),
               DATE_FORMAT(last_updated_date, '%Y-%m-%d-%H-%i'),
               DATE_FORMAT(deleted_date, '%Y-%m-%d-%H-%i'),
               link
        FROM event
        WHERE event_id = #{VALUES}
    </select>

    <select id="getEventIdHire" parameterType="long" resultType="CamelHashMap">
        SELECT hire_id,
               hire_event_id,
               hire_company_id,
               work_name,
               work_hour,
               DATE_FORMAT(work_start_day, '%Y-%m-%d-%H-%i'),
               DATE_FORMAT(work_end_day, '%Y-%m-%d-%H-%i'),
               pay,
               edu,
               DATE_FORMAT(reg_date, '%Y-%m-%d-%H-%i')
        FROM hire
        WHERE hire_event_id = #{VALUES}
    </select>


    <select id="selectPlaceId" parameterType="EventJoinDto" resultType="string">
        select place_id
        from event
        where place=#{place} and event_id=#{eventId}
    </select>

    <!-- 이 부분 다시 추가 -->
    <select id="countUser" parameterType="java.util.HashMap" resultType="int">
        SELECT COUNT(*)
        FROM user
                 LEFT JOIN  event
                            on event.event_company_id = user.user_company_id
        WHERE role=#{role} AND event_id=#{eventId};
    </select>
</mapper>