<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacebetween.linket.mapper.TicketMapper">

    <!-- 티켓 등록 여부-->
    <select id="checkTicket" parameterType="String" resultType="String">
        SELECT
            CASE
                WHEN ticket_reg = 'N' THEN 'able'
                WHEN ticket_reg = 'Y' THEN 'used'
                END AS result
        FROM ticket
        WHERE serial_num = #{serialNum};
    </select>

    <!-- 티켓 등록 -->
    <update id="registerTicket" parameterType="TicketJoinDto">
        UPDATE ticket
        SET
            ticket_email=#{ticketEmail}, ticket_reg='Y', last_updated_date= NOW()
        WHERE serial_num=#{serialNum}
    </update>

    <!-- 티켓 전체 조회 -->
    <select id="getAllTickets" parameterType="string" resultType="CamelHashMap">
        SELECT d.event_name,d.event_type,d.place,d.place_id,d.event_image,d.event_inq,d.event_desc,d.event_status,
               d.start_date, d.end_date, d.link, e.ticket_id, e.ticket_event_id, e.ticket_company_id,
               e.ticket_email, e.serial_num, e.ticket_reg, e.ticket_status,
               DATE_FORMAT(e.reg_date, '%Y-%m-%d-%H-%i') AS reg_date, DATE_FORMAT(e.last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date, e.seat
        FROM event d
        RIGHT OUTER JOIN ticket e ON d.event_id = e.ticket_event_id
        WHERE e.ticket_email=#{ticketEmail} AND e.ticket_reg='Y' AND e.ticket_status='Y'
        ORDER BY d.start_date desc;
    </select>

    <!-- 티켓 단일 조회 -->
    <select id="getTicket" parameterType="long" resultType="CamelHashMap">
        SELECT d.event_name,d.event_type,d.place,d.place_id,d.event_image,d.event_inq,d.event_desc,d.event_status,
               d.start_date, d.end_date, d.link, e.ticket_id, e.ticket_event_id, e.ticket_company_id,
               e.ticket_email, e.serial_num, e.ticket_reg, e.ticket_status,
               DATE_FORMAT(e.reg_date, '%Y-%m-%d-%H-%i') AS reg_date, DATE_FORMAT(e.last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date, e.seat
        FROM event d
        RIGHT OUTER JOIN ticket e ON d.event_id = e.ticket_event_id
        WHERE e.ticket_id=#{ticketId}
    </select>

    <!-- 등록 티켓 삭제 -->
    <update id="deleteTicket" parameterType="TicketJoinDto">
        UPDATE ticket
        SET
            ticket_status='N', last_updated_date = NOW()
        WHERE ticket_id=#{ticketId}
    </update>
    
    <!-- 종료된 행사 - 관람객 통계-->
    <select id="getTicketStatus" parameterType="long" resultType="CamelHashMap">
        SELECT d.password, d.user_name, d.birthdate, d.agreement, d.phone, d.gender, d.role, d.account, d.withdraw_date,
               d.enabled, e.ticket_id, e.ticket_event_id, e.ticket_company_id,
               e.ticket_email, e.serial_num, e.ticket_reg, e.ticket_status,
               DATE_FORMAT(e.reg_date, '%Y-%m-%d-%H-%i') AS reg_date, DATE_FORMAT(e.last_updated_date, '%Y-%m-%d-%H-%i') AS last_updated_date, e.seat
        FROM user d
        RIGHT OUTER JOIN ticket e ON d.email = e.ticket_email
        WHERE e.ticket_event_id = #{ticketEventId}
    </select>
    
</mapper>
