<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacebetween.linket.mapper.UserMapper">
    <!-- 사용자가 회원프로필을 조회합니다. -->
    <select id="getUser" parameterType="string" resultType="CamelHashMap">
        SELECT * FROM
        user
        WHERE email=#{VALUES}
    </select>

    <!-- 사용자가 회원 프로필을 조회하기 위해 비밀번호를 확인합니다. -->
    <select id="checkUserPwd" parameterType="map" resultType="CamelHashMap">
        SELECT * FROM
        user
        WHERE email=#{email} AND password=#{password}
    </select>

    <!-- 사용자가 회원프로필에서 전화번호를 수정합니다. -->
    <update id="updateUserPhone" parameterType="map">
        UPDATE user
        SET
        phone=#{phone}
        WHERE email=#{email}
    </update>

    <!-- 사용자가 회원프로필에서 비밀번호를 수정합니다. -->
    <update id="updateUserPassword" parameterType="map">
        UPDATE user
        SET
        password=#{password}
        WHERE email=#{email}
    </update>
</mapper>
